<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite" parallel="true">
	<!--<test name="ChromeTest">
		<parameter name="browsers" value="Chrome" />
		<classes>
			<class name="automationFramework.CreateServiceAlert" />
		</classes>
	</test>-->
	 <test name="CreateServiceAlertCH">
		<parameter name="browsers" value="Chrome" />
		<classes>
			<class name="automationFramework.CreateIncident" />
		</classes>
	</test> 
	<!-- <test name="CreateIncidentFF">
		<parameter name="browsers" value="FF" />
		<classes>
			<class name="automationFramework.CreateIncident" />
		</classes>
	</test>-->
</suite> <!-- Suite -->
